* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Menlo;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

foreignObject {
  font-size: 10px;

  // position: fixed;
  padding: 0 10px;
}

canvas {
  pointer-events: none;
}

ul {
  background: #111;
  color: #CCC;
  border-radius: 0 0 4px 4px;
  max-height: 300px;
  overflow: auto;
}
li {
  padding: 2px;
  border-bottom: 1px solid #444;
}
ul li:last-child {
  border: none;
}

svg#graph {
  background: #111;
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

canvas {
  display: inline-block;
}

text {
  user-select: none;
}

g.node text.name {
  text-anchor: middle;
}

g.node g.outports text {
  text-anchor: end;
}

g.node g.inports text,
g.node g.outports text {
  font-size: 12px;
}

g.node text {
  fill: red;
  cursor: pointer;
}


foreignObject div {
  margin-bottom: 4px;
}
foreignObject input[type=text],
foreignObject input[type=number],
foreignObject textarea {
  margin-left: 10px;
  background: #333;
  color: #CCC;
  border: none;
  padding: 2px;
}
foreignObject input[disabled] {
  color: #888;
}

g.node text.name {
  fill: black;
  font-weight: bold;
}

g.node text:hover {
  fill: yellow;
}

g.node rect {
  fill: #555;
  stroke: #444;
  rx: 5;
  ry: 5;
}

path.edge {
  stroke: #EEE;
  stroke-linejoin: round;
  stroke-width: 4;
  fill: none;
  cursor: pointer;
}

path.edge:hover {
  stroke: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

:focus { outline: none; }

input[type=range]::-moz-focus-outer {
    border: 0;
    }
input[type=range]:focus {
    outline: none;
}

text, input, rect {
  font-smooth: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

text.button {
  cursor: pointer;
}
