* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Menlo;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

foreignObject {
  font-size: 10px;
  position: fixed;
}

canvas {
  pointer-events: none;
}

ul {
  background: #111;
  color: #CCC;
  border-radius: 0 0 4px 4px;
  max-height: 300px;
  overflow: auto;
}
li {
  padding: 2px;
  border-bottom: 1px solid #444;
}
ul li:last-child {
  border: none;
}

svg#graph {
  background: #CCC;
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

canvas {
  display: inline-block;
}

text {
  user-select: none;
}

g.node text.name {
  text-anchor: middle;
}

g.node g.outports text {
  text-anchor: end;
}

g.node g.inports text,
g.node g.outports text {
  font-size: 12px;
}

g.node text {
  fill: red;
  cursor: pointer;
}

g.node text.name {
  fill: black;
  font-weight: bold;
}

g.node text:hover {
  fill: black;
}

g.node rect {
  fill: #FFF;
  stroke: #AAA;
  rx: 5;
  ry: 5;
}

path.edge {
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 5;
  fill: none;
}